style
/* General styles */
body {
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ffae00;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    font-size: 95%;
    
    
}

section h2 {
    color: #ffae00;
    border-bottom: 3px solid #ffae00;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Typography */
p {
    margin: 1rem 0;
}

ol {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 5rem 5;
    

}

th, td {
    border: 1px solid #0c0101;
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color:#ffae00;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Recipe styles */
dd {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

menu {
    padding-left: 1.5rem;
    list-style-type: disc;
}

/* Footer styles */
footer {
    background-color: #ffae00;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 0.5rem;
}
